body {
  background-image: linear-gradient(to bottom right, purple, pink);
}


.header {
  background-color: black;
  width: 15%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: white;
}

.headerImage {
margin-left: 37%;
  width: 25%;
  outline-style: double;
  outline-width: 8px;
}

.footer {
  box-shadow: 2px 2px 1px;
  margin-right: 85%;
}

.audio-icon-container {
  display: flex;
  align-items: center;
}


.audioIcon {
  display: block;
}

#icon1 {
  cursor: pointer;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}


#icon2 {
  cursor: pointer;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}


#icon3 {
  cursor: pointer;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}


#icon4 {
  cursor: pointer;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}




#icon5 {
  cursor: pointer;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}


#icon6 {
  cursor: pointer;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}



#icon7 {
  cursor: pointer;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}




#icon8 {
  cursor: pointer;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}


#icon9 {
  cursor: pointer;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}


#icon10 {
  cursor: pointer;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;

}


.title {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: xxx-large;
}

.line{
  width: 3px;
  height: 150%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
}

#container {
  display: grid;
  grid-template-columns: 1/-1;
  grid-gap: 10px;
  width: 100%;
  text-align: right;
}

#container h1 {
  grid-column: 1 / 2;
  
}

#container img {
  grid-column: 2 / 3;
}

#container .line {
  grid-column: 2 / 3;
  border-left: 1px solid black; }
