body {
  margin-top: 3000px;
  background-image: url("../images/Hexagon.svg"), url("../assets/bg.gif");
  background-size: 100%;
  background-color: black;
  position: sticky;
  background-repeat: no-repeat;
  box-sizing: border-box;
  max-width: 100%;
  background-position-y: 200px
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

/* other CSS rules... */

header{
  position: fixed;
  max-width: 100%;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 22px 6%;
}

.junish{
  font-size: 2.1rem;
  font-weight: 700;
  color: white;
}

span{
  color: red;
}

#menu-con{
  font-size: 1.8rem;
  font-weight: 700;
  box-sizing: border-box;
  box-shadow: inset black;
  color: grey;
  text-decoration: none;
}

.change-profile{
  box-sizing: content-box;
}


.header {
  background-color: black;
  width: 15%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: white;
}

.headerImage {
  margin-left: 37%;
  width: 25%;
  outline-style: double;
  outline-width: 8px;
}

.footer {
  box-shadow: 2px 2px 1px;
  margin-right: 85%;
}

.audio-icon-container {
  display: flex;
  align-items: center;
}


.audioIcon {
  display: block;
}

#Instruction1 {
  color: black;
  translate: 350px -2010px;
  font-size: x-large;
}

#icon1 {
  cursor: pointer;
  width: 200px;
  margin-top: -899px;
  margin-left: 326px;
  display: flex;
}


#icon2 {
  cursor: pointer;
  width: 200px;
  margin-top: -39px;
    margin-left: 655px;
  display: flex;
}


#icon3 {
  cursor: pointer;
  width: 200px;
  margin-top: -432px;

  display: flex;
}


#icon4 {
  cursor: pointer;
  width: 200px;
  margin-top: 193px;
  display: flex;
}




#icon5 {
  cursor: pointer;
  width: 200px;
  margin-left: 656px;
  margin-top: -245px;
  display: flex;
}


#icon6 {
  cursor: pointer;
  width: 200px;
  margin-left: 336px;
  margin-top: -87px;
  display: flex;
}



.DragDropBox {
  display: block;
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 1250px;
}

#Box {
  margin-left: 232px;
  margin-top: -2285px;
}


.icons {
  margin-left: 1000px;
  margin-top: -150px;
  width: 25px;
}


#container {
  display: grid;
  grid-template-columns: 1/-1;
  grid-gap: 10px;
  width: 100%;
  align-items: center;
  margin-top:80px;
}

#container h1 {
  grid-column: 1 / 2;
  
}

#container img {
  grid-column: 2 / 3;
}

#container .line {
  grid-column: 2 / 3;
  border-left: 1px solid black; }
