body {
  background-image: url("../images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  
}


.header {
  background-color: black;
  width: 15%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: white;
}

.headerImage {
margin-left: 37%;
  width: 25%;
  outline-style: double;
  outline-width: 8px;
}

.footer {
  box-shadow: 2px 2px 1px;
  margin-right: 85%;
}

.audio-icon-container {
  display: flex;
  align-items: center;
}


.audioIcon {
  display: block;
}

#icon1 {
  cursor: pointer;
  width: 200px;
  display: flex;
}


#icon2 {
  cursor: pointer;
  width: 200px;
  display: flex;
}


#icon3 {
  cursor: pointer;
  width: 200px;
  display: flex;
}


#icon4 {
  cursor: pointer;
  width: 200px;
  display: flex;
}




#icon5 {
  cursor: pointer;
  width: 200px;
  display: flex;
}


#icon6 {
  cursor: pointer;
  width: 200px;
  display: flex;
}



#icon7 {
  cursor: pointer;
  width: 200px;
  display: flex;
}




#icon8 {
  cursor: pointer;
  width: 200px;
  display: flex;
}


#icon9 {
  cursor: pointer;
  width: 200px;

  display: flex;
}


#icon10 {
  cursor: pointer;
  width: 200px;

  display: flex;

}


.DragDropBox {
  display: block;
  margin-left: auto;
  width: 250px;
  margin-right: 1250px;
}

.cool-effect {
  border-radius: 20%;
  border-width: 5px;
  border-style:double;
  
  transition: all 0.3s ease-in-out;
  border-color: rgb(0, 255, 0);
}


.icons {
  margin-left: 1000px;
  display: block;
}

.line{
  width: 3px;
  height: 322%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
}

#container {
  display: grid;
  grid-template-columns: 1/-1;
  grid-gap: 10px;
  width: 100%;
  align-items: center;
}

#container h1 {
  grid-column: 1 / 2;
  
}

#container img {
  grid-column: 2 / 3;
}

#container .line {
  grid-column: 2 / 3;
  border-left: 1px solid black; }
